* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  /* background: lightskyblue; */
  padding: 15px 20px;
}
header {
  border-bottom: solid 1px lightgrey;
  padding: 15px 0s;
}
header img {
  width: 150px;
}

/* PARTIE TITLE */
.title-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 25px 20px;
  /* background: crimson; */
}
.title {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title h2 {
  font-size: 30px;
  font-weight: bold;
}
.title p {
  font-size: 19px;
  font-weight: 200;
}
.title-img img {
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

/* PARTIE MENUS*/

.menu-container {
  background: #f2f5f5;
}

.meals-img img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

/* .food-container {
  background: lightseagreen; 
} */
.food-container h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0;
  /* background: lightgreen; */
  margin: 10px 0;
}

.meals-card {
  /* background: cornflowerblue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
}
.meals-container {
  background: white;
  width: 380px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 15px;
}
.meals-description h4 {
  font-size: 19px;
}
.meals-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
}
.meals-description p {
  font-size: 14px;
  max-width: 220px;
  height: 30px;
  /* background: blue; */
  overflow: hidden;
}

.meals-img img {
  border-radius: 5px;
}
.star-container {
  /* background: green; */
  display: flex;
  gap: 35px;
  align-items: center;
  height: 30px;
}
.star {
  color: #ff8001;
  font-weight: bold;
}

@media (max-width: 885px) {
  .title-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .title-img img {
    width: 100%;
  }
  .title h2 {
    font-size: 20px;
    margin: 15px 0;
  }
  .title p {
    font-size: 15px;
  }
}
