* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background: lightskyblue;
}
header {
  border-bottom: solid 1px lightgrey;
  padding: 15px 5px;
}
header img {
  width: 150px;
}

/* PARTIE TITLE */
.title-container {
  display: flex;
}

.title-img img {
  height: 200px;
}

/* PARTIE MENUS*/

.food-container {
  background: #f3f5f5;
}

.meals-img img {
  width: 200px;
}
